@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 2rem;
    background: rgb(31,207,209);
    background-image: linear-gradient(to bottom, #3a87c7, #2c83ce, #207ed4, #197ad9, #1b74de, #1d70e0, #226be2, #2966e3, #2961e3, #2a5ce2, #2c57e2, #2f52e1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}